{% extends "ez_main/base.html" %}

<!-- No specific style sheet for the books page -->

{% block content %}

   <div class="modal-dialog text-center">
      <div class= "main-section">
         <div class="modal-content">
            <h4>Required Textbooks for {{user.username}}</h4>
            <br />
         </div>
      </div>
   </div>
   
   <div class="modal-dialog">
      <table class="table">
         <thead class="thead-dark">
            <tr>
               <th class="text-white bg-dark" scope="col">Textbook Name</th>
               <th class="text-white bg-dark" scope="col">New Purchase Price</th>
               <th class="text-white bg-dark" scope="col">Used Purchase Price</th>
               <th class="text-white bg-dark" scope="col">New Rental Price</th>
               <th class="text-white bg-dark" scope="col">Used Rental Price</th>
               <th class="text-white bg-dark" scope="col"></th>

            </tr>
         </thead>
         <tbody>
            {% for obj in user_books %}
            <tr class="table-success">
               <td>{{obj.textbook_name}}</td>
               <td>{{obj.new_buy_priced}}</td>
               <td>{{obj.used_buy_price}}</td>
               <td>{{obj.new_rental_price}}</td>
               <td>{{obj.used_rental_price}}</td>
               <td><a class="btn btn-primary btn3d" href="#">Delete</a></td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

{% endblock content %}